html, body{
    margin: 0;
    padding: 0;
    background-color: #262626;
    color: #cbcbcb;
}

body{
    width: 100%;
    margin: 0 auto;
}

p{
    margin: 0 auto;
    font-size: large;
    text-align: center;
}

header{
    height: 3em;
    display: flex;
    position: sticky;
    background-color: #262626;
    width: 100%;
    padding-top: 1em;
    top: 0;
}

a{
    color: #A8C0E8;
    font-family: Arial, Helvetica, sans-serif;
}

body p, ul{
    max-width: 576px;
}

header h1{
    margin: 0 auto;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: xxx-large; 
}

header nav{
    width: 50%;
    float: right;
    display: flex;
}

header nav a{
    flex: auto;
    text-align: center;
    align-content: center;
    display: block;
    font-size: xx-large;
    line-height: 1.5em;
    text-decoration: none;
}

header nav a:hover{
    background-color: black;
}



.about{
    margin: 1em auto;
}

.about, #projects{
    scroll-margin-top: 3em;
}

#projects{
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    padding-bottom: 2em;
    display: none;
}

#projects li{
    padding-top: 1.5em;
}

#projects li p{ 
    font-size: large;
    width: 80%;
    padding: .15 0;
}

#projects li h2{
    font-family: Helvetica, sans-serif;
    width: 95%;
    margin: 0 auto;
}

#projects li:nth-child(even) h2{
    text-align: right;
}

#projects li a{
    display: block;
}
