html, body{
    margin: 0;
    padding: 0;
    background-color: #262626;
    color: #cbcbcb;
}

body{
    width: 100%;
    max-width: 576px;
    margin: 0 auto;
}

h1{
    margin: 0 auto;
    text-align: center;
    padding-top: 1em; 
    font-family: Helvetica, sans-serif;
    font-size: xxx-large; 
}

p{
    margin: 0 auto;
    font-size: xx-large;
    text-align: center;
}

header{
    height: 3em;
    display: block;
    position: sticky;
    background-color: #262626;
    width: 100%;
}

a{
    color: #A8C0E8;
    font-family: Arial, Helvetica, sans-serif;
    flex: auto;
}

header h1{
    position: relative;
    left: 1em;
}

header nav{
    width: 50%;
    float: right;
    display: flex;
}



#about{
    margin: 1em auto;
}

#projects{
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    padding-bottom: 2em;
}

#projects li{
    padding-top: 1.5em;
}

#projects li p{ 
    font-size: large;
    width: 80%;
    padding: .15 0;
}

#projects li h2{
    font-family: Helvetica, sans-serif;
    width: 95%;
    margin: 0 auto;
}

#projects li:nth-child(even) h2{
    text-align: right;
}

#projects li a{
    display: block;
}
