html, body{
    margin: 0;
    padding: 0;
    background-color: #262626;
    color: #cbcbcb;
}

body{
    width: 100%;
    margin: 0 auto;
}

p{
    margin: 0 auto;
    font-size: medium;
    text-align: center;
}

header{
    height: 3em;
    display: flex;
    position: sticky;
    background-color: #262626;
    width: 100%;
    padding-top: 1em;
    top: 0;
    margin-bottom: 5%;
}

a{
    color: #A8C0E8;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    flex: auto;
    font-size: large;
}

body section{
    max-width: 720px;
}

header h1{
    margin: 0 auto;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: xxx-large; 
}

header nav{
    width: 50%;
    float: right;
    display: flex;
}

header nav a{
    text-align: center;
    display: block;
    font-size: xx-large; 
    text-decoration: none;
}

nav a:hover{
    background-color: black;
}

section{
    margin: 0 auto;
    text-align: center;
}

.extra{
    display: none;
}

.about{
    margin: 1em auto;
}

.about, #projects{
    scroll-margin-top: 3em;
}

#projects{
    display: none;
}

#projectLinks{
    display: flex;
    width: 30%;
    margin: 0 auto;
}

#projectLinks a{
    flex: auto;
    text-align: center;
}

#personalProjects, #schoolProjects{
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    padding-bottom: 2em;
}

#projects ul li{
    padding-top: 2.5em;
}

#projects ul li p{ 
    font-size: large;
    width: 80%;
    padding: .15 0;
}

#projects ul li h2{
    font-family: Helvetica, sans-serif;
    width: 95%;
    margin: 0 auto;
}

#projects ul li a{
    float: right;
}

#showMore{
    display: none;
}
